{{!-- // utilisateur --}}
<section class="choose-container">
    <header class="header">
        <h1 class="title">Fiddle</h1>
    </header>
    <form method="post" action="/auth/signup" id="user" class="chosen-wrap">

        <div class="hover-center">
            <input type="text" id="name" name="username" placeholder="username" class="login-circle" required>
        </div>
        <div class="hover-center">
            <input type="password" id="name" name="password" placeholder="Password" class="login-circle" required>
        </div>
        <div class="hover-center">
            <input type="text" id="name" name="email" placeholder="email" class="login-circle" required>
        </div>
        </div>
        <div class="hover-center">
            <button value="submit" class="login-btn"></button>
        </div>
        <div class="hover-center">
            <a href="/auth/login" value="send" class="button-link-choosen">Login</a>
        </div>
        </p>
    </form>
</section>