{{!-- // utilisateur --}}
<section class="choose-container">
    <header class="header">
        <h1 class="title">Fiddle</h1>
    </header>
    <form method="post" action="/signup_chosen" id="user" class="chosen-wrap">

        <div class="hover-center">
            <input type="text" id="name" name="name" placeholder="Email" class="login-circle" required>
        </div>
        <div class="hover-center">
            <input type="text" id="name" name="name" placeholder="Password" class="login-circle" required>
        </div>
        <div class="hover-center">
            <input type="text" id="name" name="name" placeholder="city" class="login-circle" required>
        </div>
        </div>
        <div class="hover-center">
            <button class="login-btn"></button>
        </div>
        <div class="hover-center">
            <a href="/signup_choice" class="button-link-choosen">Sign Up</a>
        </div>
        </p>
    </form>
</section>