<section class="sign-container">
    <header class="header">
        <h1 class="title">Fiddle</h1>
    </header>
    <form method="post" action="/login" id="user">
        <div class="hover-center"> <input type="text" id="name" name="name" placeholder="Pseudo" class="login-circle"
                required>
        </div>
        </div>
        <div class="hover-center">
            <input type="text" id="name" name="name" placeholder="Password" class="login-circle" required>
        </div>
        </div>
        <div class="hover-center">
            <button class="login-btn"></button>
        </div>
        <div class="hover-center">
            <a href="/signup_choice" class="button-link">Sign Up</a>
        </div>
    </form>
</section>