<section class="sign-container">
    <header class="header">
        <h1 class="title">Fiddle</h1>
    </header>
    <form method="post" action="/auth/login" id="user" class="login-wrap">
        <div class="hover-center"> <input type="text" id="name" name="username" placeholder="Pseudo"
                class="login-circle" required>
        </div>
        </div>
        <div class="hover-center">
            <input type="password" id="name" name="password" placeholder="Password" class="login-circle" required>
        </div>
        </div>
        <div class="hover-center">
            <button value="submit" class="login-btn"></button>
        </div>
        <div>{{this.msg}}</div>
        <div class="hover-center">
        </div>
    </form>
</section>