{{!-- Artistes --}}
<section class="choose-container">
    <header class="header">
        <h1 class="title">Fiddle</h1>
    </header class="chosen-wrap">
    <div class="hover-center"> <input type="text" id="name" name="Pseudo" placeholder="Pseudo" class="login-circle"
            required>
    </div>
    <div class="hover-center">
        <input type="text" id="name" name="Email" placeholder="Email" class="login-circle" required>
    </div>
    <div class="hover-center">
        <input type="text" id="name" name="Password" placeholder="Password" class="login-circle" required>
    </div>
    <div class="hover-center">
        <input type="text" id="name" name="name" placeholder="city" class="login-circle" required>
    </div>
    </div>
    <div class="hover-center"> <input type="text" id="name" name="name" placeholder="Musician Status"
            class="login-circle" required>
    </div>
    <div class="hover-center">
        <input type="text" id="name" name="name" placeholder="Genre" class="login-circle" required>
    </div>
    <div class="hover-center">
        <input type="text" id="name" name="name" placeholder="Music" class="login-circle" required>
    </div>
    <div class="hover-center">
        <input type="text" id="name" name="name" placeholder="pseudo" class="login-circle" required>
    </div>
    <div class="hover-center">
        <button class="login-btn"></button>
    </div>
    <div class="hover-center">
        <a href="/signup_choice" class="button-link-choosen2">Sign Up</a>
    </div>
</section>