<section class="choose-container">
    <header class="header">
        <h1 class="title">Fiddle</h1>
    </header>

    <div class="choose-wrap">

        <a href="/auth/musician">
            <div class="hover-choose">
                <button class="choose-btn">Musician</button>
            </div>
        </a>

        <a href="/auth/listener">
            <div class="hover-choose">
                <button class="choose-btn">Listener</button>
            </div>
        </a>
    </div>

    <div class="btn-choose">
        <a href="/signup_choice" class="button-link-choose">Sign In</a>
    </div>
</section>