<section class="choose-container">
    <header class="header">
        <h1 class="title">Fiddle</h1>
    </header>
    <form method="post" action="/signup_choice" id="user">
        <div class="choose-wrap">
            <div class="hover-choose">
                <button class="choose-btn">Musician</button>
            </div>
            <div class="hover-choose">
                <button class="choose-btn">Listener</button>
            </div>
        </div>
        <div class="btn-choose">
            <a href="/signup_choice" class="button-link-choose">Sign In</a>
        </div>
    </form>
</section>