<div>
    <h3>Manage Concerts</h3>

    <div>Concert Name</div>
    <div>Place</div>
    <div>Adress</div>
    <div>Date</div>
    <div>Edit</div>
    <div>Delete</div>
    <div>Add</div>


    {{#each concert}}
    <ul>
        <li>{{this.lieu}} : {{this.date}} | edit | remove |
        </li>
    </ul>

    {{/each}}
    {{#unless concert}}

    <div>No concerts yet !</div>
    {{/unless}}

</div>