{{>header_management}}
<section class="admin-wraper">
    <div class="jenesaisplusdansindexadmin">
        <a href="/admin/concerts">
            <button type="button" class="choose-btn">{{this.nConcerts}} Concerts</button>
        </a>
    </div>

    <div class="jenesaisplusdansindexadmin">
        <a href="/admin/musicians">
            <button type="button" class="choose-btn">{{this.nMusicians}} Musicians</button>
        </a>
    </div>

    <div class="jenesaisplusdansindexadmin">
        <a href="/admin/users">
            <button type="button" class="choose-btn">{{this.nUsers}} Users</button>
        </a>
    </div>

    <div class="jenesaisplusdansindexadmin">
        <a href="/admin/critiques">
            <button type="button" class="choose-btn">{{this.nCritics}} Critics</button>
        </a>
    </div>
</section>