<form method="post" action="/admin/users/add" enctype="multipart/form-data">

    <div>
    <label>Username</label>
    <input type="text" name="username">
    </div>

    <div>
        <label>Email</label>
        <input type="email" name="email">
    </div>

    <div>
        <label>Password</label>
        <input type="password" name="password">
    </div>

    <div>
        <label>Profile image</label>
        <input type="file" name="profile_image">
    </div>

     <div>
         <label>Fav musicians</label>
         <select name="fav_musicians">
             {{#each musicians}}
             <option value="{{this._id}}">{{this.name}}</option>
             {{/each}}
         </select>
     </div>
     <button type="submit">Send</button>





</form>