<nav>
    <div class="circle left">

        <i id="music" class="fas fa-music"></i>
        <i class="far fa-user-circle"></i>
        <i class="fas fa-lock-open"></i>

    </div>
    <div class="searching "><i class="fas fa-search"></i><input type="text" class="noselect"></div>
    <a href="/auth/signup/" class="hypertext">SignUp</a>
    <a href="/auth/login" class="hypertext">Log in</a>
    <div>
</nav>