<nav>
    <div class="circle left">

        <i id="settings" class="fas fa-sliders-h"></i>
        <i id="music" class="fas fa-music"></i>
    </div>
    <div class="searching "><i class="fas fa-search"></i><input type="text" class="noselect"></div>
</nav>