<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fiddle</title>
    <link rel="stylesheet" href="/styles/margaux.css">
    <link rel="stylesheet" href="/styles/feed.css">
    <link rel="stylesheet" href="/styles/user.css">
    <link rel="stylesheet" href="/styles/user-edit.css">
    <link rel="stylesheet" href="/styles/musician_info.css">
    <link rel="stylesheet" href="/styles/concert-info.css">
    <link rel="stylesheet" href="/styles/critic.css">
    <link rel="stylesheet" href="/styles/concert-all.css">
    <link rel="stylesheet" href="/styles/nav.css">
    <link rel="stylesheet" href="/styles/new-review.css">
    <link rel="stylesheet" href="/styles/admin-index.css">
    <link rel="stylesheet" href="/styles/admin-concert-add.css">
    <link rel="stylesheet" href="/styles/musician-add.css">
    <link rel="stylesheet" href="/styles/critiques.css">
    <link rel="stylesheet" href="/styles/musician-edit.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css">
    <link href="https://fonts.googleapis.com/css?family=Red+Hat+Display&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Marck+Script&display=swap" rel="stylesheet">
    {{#each scripts}}
    <script type="module" src="/scripts/{{this}}"></script>
    {{/each}}

</head>

<body>
    <section class="page">
        {{>check_connect}}
        {{{body}}}
    </section>
    {{>nav}}
</body>

</html>