{{!-- favs: dbUser.fav_musicians,
musicians:dbMusicians --}}
{{!-- <div class="fauxbody"> --}}
<section class="edit-fav-container">
    <h3> <a href="/user/{{id}}" class="fav-wraper">
            <- back to your profile</a> </h3> <div>
                <h2>The artist you're following</h2>
                <div>
                    {{#each favs}}
                    <div>{{this.name}} <span class="less">(-)</span></div>
                    {{/each}}
                </div>


                <div>
                    <h2>The Musicians</h2>
                    <div>
                        <label for="name">Name</label>
                        <input type="text">
                    </div>
                    <div>
                        {{#each musicians}}
                        <div>{{this.name}} <span class="more">(+)</span> </div>
                        {{/each}}
                    </div>
                </div>
</section>
</div>