<div class="fauxbody">
    <section class="user-edit-container">
        <form action="/user/{{this._id}}/edit" method="post" class="user-edit-wraper" enctype="multipart/form-data">
            <h1>Edit your profil</h1>
            <div>
                <label id="username"></label>
                <input id="username" class="login-circle-edit" type="text" name="username" value={{this.username}}>
            </div>

            <div>
                <label id="email"></label>
               
                <div>
                    <input id="email" class="login-circle-edit" type="email" name="email" value={{this.email}}>

                </div>

            </div>

            <div>
                <input type="file" name="profile_image">
            </div>
            <button class="login-btn-edit" value="submit"></button>
</div>
</form>
</section>
</div>