<section class="user-edit-container">
    <form action="/user/{{this._id}}/edit" method="post" class="user-edit-wraper">
        <h1>Edit your profil</h1>
        <div>
            <label id="username"></label>
            <input id="username" class="login-circle" type="text" name="username" value={{this.username}}>
        </div>

        <div>
            <label id="email"></label>
            <div>
                <input id="email" class="login-circle" type="email" name="email" value={{this.email}}>

            </div>


        </div>
        </div>

        <button class="login-btn" value="submit"></button>
    </form>
</section>