<h1>New Review</h1>

<form action="/user/new_review" method="post">
    
        <div>
            <select>
            <label for="concert">Concert</label>
            {{#each concerts}}
            <option name="concert" for="concert" value={{this._id}}>{{this.nom}}</option>
            {{/each}}
            </select>
        </div>

        <div>
            <label for="title">Short Title</label>
            <input style="display:block;background:white;color:black" type="text" for="title" name="title">
        </div>

        <div>
            <label for="fulltext">Full text</label>
            <textarea for="fulltext" style="overflow:auto;resize:none" name="text"></textarea>
        </div>

        <input style="display:none" value="{{id}}" name="user">
        <button value="submit">Submit</button>
    </select>
</form>