<section class="fauxbody">
    <div class="new-review-container">
        <h1 class="title-review">New Review</h1>

        <form action="/user/new_review" method="post">

            <div>
                <select class="review-label" name="concert">
                    <label for="concert">Concert</label>
                    {{#each concerts}}
                    <option name="concert" for="concert" value={{this._id}}>{{this.nom}}</option>
                    {{/each}}
                </select>
            </div>

            <div>
                <label for="title" class="review-text">Short Title</label>
                <input class="login-text" type="text" for="title" name="title">
            </div>

            <div>
                <label for="fulltext" class="review-text">Full text</label>
                <textarea for="fulltext" class="login-circle3" name="text"></textarea>
            </div>

            <input style="display:none" value="{{id}}" name="user">
            <button value="submit" class="login-btn-review"></button>
            </select>
        </form>
    </div>
</section>