* {
  box-sizing: border-box;
}

li {
  list-style: none;
}

.feed {
  display: flex;
  margin-left: 15vw;
  justify-content: flex-start;
  width: 85vw;
  height: 80vh;
}

.feed section {
  height: 100%;
  width: 33%;
  color: white;
  /* border: solid 1px white; */
  overflow-y: scroll;
}

.feed section::-webkit-scrollbar {
  width: 0 !important;
}

.feed section.container {
  position: relative;
}

.feed section.container article {
  border-radius: 12px;
  padding: 5%;
  margin: 5%;
  overflow: hidden;
}

.feed section.container article:nth-child(odd) {
  background: var(--bleu-moyen);
  color: var(--gris-pale);
}

.feed section.container article:nth-child(even) {
  background: var(--gris-moyen);
  color: var(--bleu-nuit);
}

.feed section a {
  background: var(--highlighter);
}

@media (max-width: 700px) {
  /* body {
    height: 100%;
    background: var(--bleu-nuit);
    font-size: 0.8rem;
    width: 100vw;
  } */

  .feed {
    display: flex;
    margin-left: 0;
    flex-direction: column-reverse;
    justify-content: flex-start;
    height: 80vh;
    width: 100%;
    top: 0;
    position: fixed;
  }

  .feed section {
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 33%;
  }

  .feed section.container {
    display: flex;
    flex-direction: row;
    width: auto;
    margin: 0;
    padding: 0;
    box-sizing: unset;
    height: 100%;
  }

  .feed section.container article:nth-child(odd) {
    width: 42vw;
  }

  .feed section.container article:nth-child(even) {
    width: 60vw;
  }

  .feed section.container article {
    border-radius: 12px;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  .feed div.category {
    width: 50vw;
    border: 1px white solid;
  }

  nav {
    display: none;
  }
}
