* {
  box-sizing: border-box;
}

.mainframe {
  width: 100vw;
  height: 80vh;
  margin-left: 6.5vw;
  display: flex;
}

.feed h2 {
  top: 0;
  width: 10vw;
}

.tout-petit {
  font-size: 80%;
}

.tout-petit:hover {
  text-decoration: underline #ff7c00;
}

.card {
  margin: 5%;
  border-radius: 12px;
  text-decoration: none;
  border: 1px solid white;
  padding-top: 20px;
}

.artist-name {
  font-family: "Marck Script", cursive;
}

.card-center {
  margin: 5%;
  border-radius: 12px;
  text-decoration: none;
  border: 1px solid white;
  border-style: dashed;
}

.card-center:hover {
  transform: scale(1.1);
}

.mainframe > * {
  height: 100%;
  width: 30%;
  text-align: center;
  overflow: scroll;
}

.img-user-feed {
  width: 20%;
  height: 20%;
  border-radius: 50%;
}

.class-title {
  position: sticky;
  background-image: url(/imgs/img-noise-361x370.png);
  background-repeat: repeat;
  z-index: 1;
  width: 100%;
  top: 0;
  margin-top: 0;
  color: white;
}

.feedleft img {
  width: 50%;
  height: auto;
}

.feedleft {
  margin-top: 20px;
}

.feedcenter {
  margin-top: 20px;
}

.feedright {
  margin-top: 20px;
}

@media (max-width: 800px) {
  .feedleft {
    display: none;
  }
  .mainframe > * {
    width: 60%;
  }
}

@media (max-width: 600px) {
  .feedleft {
    display: none;
  }

  .feedcenter {
    display: none;
  }
  .mainframe > * {
    width: 100%;
  }
}

.index-text {
  font-size: 20px;
  color: white;
}

.index-text1 {
  font-size: 20px;
  color: #ff7c00;
  font-size: 25px;
}

.image-feed {
  border-radius: 20px;
  margin-top: 40px;
}
