* {
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  background-image: url("/imgs/img-noise-361x370.png");
  background-repeat: repeat;
  color: #ff7c00;
  font-size: 2rem;
  font-family: "Red Hat Display", sans-serif;
}

h1 {
  font-family: "Marck Script", cursive;
  font-size: 60px;
  color: #ff7c00;
}

h2,
h3,
h4 {
  font-family: "Red Hat Display", sans-serif;
}

p,
a {
  font-family: "Red Hat Display", sans-serif;
}
/* // sign in */

.login-btn {
  width: 70px;
  height: 70px;
  border-radius: 35px;
  border: none;
  display: flex;
  align-items: center;
  background: #ffbe45;
  color: white;
  flex-direction: column;
  margin-top: 60px;
  vertical-align: center;
  outline: none;
}

.login-circle {
  width: 200px;
  height: 70px;
  border-radius: 70px;
  border: none;
  display: flex;
  background-color: #ff7c00;
  background-image: -webkit-linear-gradient(20deg, #ff7c00 40%, #ffbe45 60%);
  color: white;
  font-size: 20px;
  flex-direction: column;
  margin-top: 10px;
  text-align: center;
  outline: none;
  font-family: "Red Hat Display", sans-serif;
}

.login-wrap {
  margin-top: 40px;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  /* Firefox */
}

/* .login-circle:hover {
  width: 200px;
  text-align: center;
} */

input:focus {
  outline: none;
  width: 200px;
  text-align: center;
}

.hover-center {
  display: flex;
  justify-content: center;
}

.button-link {
  text-decoration: none;
  font-size: 20px;
  margin-top: 190px;
  color: white;
  font-family: "Red Hat Display", sans-serif;
  justify-content: center;
}

.sign-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

/* sign up to choose */

.choose-btn {
  width: 150px;
  height: 150px;
  border-radius: 80px;
  border: none;
  display: flex;
  background-color: #ff7c00;
  background-image: -webkit-linear-gradient(20deg, #ff7c00 40%, #ffbe45 60%);
  color: white;
  font-size: 30px;
  margin-top: 10px;
  outline: none;
  font-family: "Red Hat Display", sans-serif;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  /* Firefox */
}

.choose-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.choose-wrap {
  width: 25vw;
  display: flex;
  justify-content: space-around;
  vertical-align: center;
  margin-top: 40px;
}

.choose-btn {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.btn-choose {
  display: flex;
  justify-content: center;
  margin-top: 300px;
}

.button-link-choose {
  text-decoration: none;
  font-size: 20px;
  color: white;
  font-family: "Red Hat Display", sans-serif;
  display: flex;
  justify-content: center;
}

.hover-choose:hover {
  transform: scale(1.1);
}

/* //signup choosen */

.button-link-choosen {
  text-decoration: none;
  font-size: 20px;
  margin-top: 150px;
  color: white;
  font-family: "Red Hat Display", sans-serif;
  display: flex;
  justify-content: center;
}

.button-link-choosen2 {
  text-decoration: none;
  font-size: 20px;
  margin-top: 70px;
  color: white;
  font-family: "Red Hat Display", sans-serif;
  display: flex;
  justify-content: center;
}

/* .hover-center-chosen {
  display: flex;
  justify-content: center;
  margin: 30px;
} */

/* Place Holder CSS */
::-webkit-input-placeholder {
  color: white;
  opacity: 0.5;
  -webkit-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}
:-moz-placeholder {
  color: white;
  opacity: 0.5;
  -moz-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}
::-moz-placeholder {
  color: white;
  opacity: 0.5;
  -moz-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}
:-ms-input-placeholder {
  color: white;
  opacity: 0.5;
  -ms-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}

/* Place Holder CSS for Focus */
:hover::-webkit-input-placeholder {
  opacity: 0.75;
  -webkit-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}
:hover:-moz-placeholder {
  opacity: 0.75;
  -moz-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}
:hover::-moz-placeholder {
  opacity: 0.75;
  -moz-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}
:hover:-ms-input-placeholder {
  opacity: 0.75;
  -ms-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}

/* Place Holder CSS for Focus */
:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}
:focus:-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}
:focus::-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}
:focus:-ms-input-placeholder {
  opacity: 0;
  -ms-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}
