nav {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 20vh;
  width: 100%;
  align-items: flex-end;
}

.circle {
  margin: 2%;
  width: 70px;
  height: 70px;
  border-radius: 35px;
  border: solid 1px white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--noir-bleu);
  color: white;
  animation: anima;
  animation-duration: 4s;
  animation-delay: 4s;
}

@keyframes anima {
  to {
    width: 100vw;
  }
}

.logo {
  justify-content: space-evenly;
  padding-left: 10px;
  font-size: 40px;
  width: 40vw;
  display: flex;
}

.logo:hover {
  animation: anima forwards;
  animation-duration: 4s;
}

/* .searching {
  margin: 0 0 2%;
  height: 70px;
  width: 70px;
  border: solid 1px;
  border-radius: 35px;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
} */

/* .searching:hover {
  width: 200px;
} */

/* input {
  display: none;
  background: none;
  border: none;
  color: white;
  font-size: 1.1rem;
  width: auto;
} */

.hypertext {
  text-decoration: none;
}

.fa,
.fas,
.far {
  font-size: 30px;
}
