.new-review-container {
  border: 1px solid white;
  border-radius: 20px;
  width: 30vw;
  text-align: center;
  padding: 60px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.fauxbody {
  display: flex;
}

.title-review {
  margin: auto;
}

.review-text {
  color: white;
  font-size: 20px;
}

.login-circle3 {
  width: 300px;
  height: 200px;
  border-radius: 70px;
  border: none;
  display: flex;
  background-color: #ff7c00;
  background-image: -webkit-linear-gradient(20deg, #ff7c00 40%, #ffbe45 60%);
  color: white;
  font-size: 20px;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 30px;
  text-align: center;
  outline: none;
  font-family: "Red Hat Display", sans-serif;
}

.login-circle3:hover {
  transform: scale(1.1);
}

.login-text:hover {
  transform: scale(1.1);
}

.login-text {
  width: 300px;
  height: 70px;
  border-radius: 70px;
  border: none;
  display: flex;
  background-color: #ff7c00;
  background-image: -webkit-linear-gradient(20deg, #ff7c00 40%, #ffbe45 60%);
  color: white;
  font-size: 20px;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 30px;
  text-align: center;
  outline: none;
  font-family: "Red Hat Display", sans-serif;
}

.login-text:focus {
  width: 300px;
}

.login-btn-review {
  width: 70px;
  height: 70px;
  border-radius: 35px;
  border: none;
  display: flex;
  align-items: center;
  background: #ffbe45;
  color: white;
  flex-direction: column;
  margin-top: 60px;
  vertical-align: center;
  outline: none;
  margin-left: 120px;
}

.review-label {
  border: 1px white solid;
  border-radius: 40px;
  background: none;
  height: 50px;
  width: 20vw;
  color: white;
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.review-label:focus {
  outline: 0;
}
