* {
  box-sizing: border-box;
}

.user-title {
  font-family: "Marck Script", cursive;
  font-size: 60px;
  color: #ff7c00;
  margin-top: 20px;
}

h2 {
  font-family: "Marck Script", cursive;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* .text_user {
  text-decoration: none;
} */

.general_user_container {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.general_user_container > * {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.fav-container {
  border-radius: 20px;
  width: 400px;
  border: solid 1px white;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-bottom: 30px;
  padding-top: 30px;
}

.review-container {
  border-radius: 20px;
  width: 400px;
<<<<<<< HEAD
  border: solid 0.5px white;
  margin-bottom: 30px;
=======
  border: solid 1px white;
  margin-bottom: 80px;
>>>>>>> 703ced4e2252e61f085878ab6c8e8eda190184a7
  padding-bottom: 30px;
  padding-top: 30px;
}

.critics-container {
  border-radius: 20px;
  width: 400px;
  border: solid 1px white;
  padding-bottom: 30px;
  padding-top: 30px;
  margin: auto;
  margin-bottom: 80px;
}

.user-text {
  font-family: "Red Hat Display", sans-serif;
  color: white;
  font-size: 20px;
  margin: auto;
  align-content: center;
  position: relative;
  text-decoration: none;
}

.user-text2 {
  font-family: "Red Hat Display", sans-serif;
  color: white;
  font-size: 20px;
  margin: auto;
  align-content: center;
  position: relative;
  text-decoration: none;
}

.user-text2:hover:after {
  content: "";
  position: absolute;
  left: 5%;
  right: 5%;
  bottom: 0;
  border: 1px solid white;
}

.user-text-main {
  font-family: "Red Hat Display", sans-serif;
  color: white;
  font-size: 15px;
  position: relative;
  text-decoration: none;
}

.user-text-main2 {
  font-family: "Red Hat Display", sans-serif;
  color: #ff7c00;
  font-size: 15px;
  position: relative;
  text-decoration: none;
  margin-top: 20px;
}

.user-text-main2:hover:after {
  content: "";
  position: absolute;
  left: 5%;
  right: 5%;
  bottom: 0;
  border: 1px solid #ff7c00;
}

.user-text-main:hover:after {
  content: "";
  position: absolute;
  left: 5%;
  right: 5%;
  bottom: 0;
  border: 1px solid white;
}

.img-user {
  margin-top: 80px;
  border-radius: 50%;
  height: 300px;
  width: 300px;
}

.edit-musician {
  text-align: center;
}

.hover-user-text:hover {
  transform: scale(1.1);
}
